[submodule "runupto-api"]
	path = runupto-api
	url = https://github.com/jackall3n/runupto-api
[submodule "runupto-webhook"]
	path = runupto-webhook
	url = https://github.com/jackall3n/runupto-webhook
[submodule "runupto-redis"]
	path = runupto-redis
	url = https://github.com/jackall3n/runupto-redis
[submodule "runupto-mongo"]
	path = runupto-mongo
	url = https://github.com/jackall3n/runupto-mongo
[submodule "runupto-client"]
	path = runupto-client
	url = https://github.com/jackall3n/runupto-client
[submodule "runupto-queue"]
	path = runupto-queue
	url = https://github.com/jackall3n/runupto-queue
[submodule "runupto-auth"]
	path = runupto-auth
	url = https://github.com/jackall3n/runupto-auth
[submodule "runupto-shared"]
	path = runupto-shared
	url = https://github.com/jackall3n/runupto-shared
